@import (reference) '../../common/less/variables';

.sms-btn{
	//background-color: @color-main;
	color: @color-black6;
	font-size: @font-size-16;
	margin-left: 20px;
	display: inline-block;
	//text-align: center;
	outline: none;
	//height: 36px;
	//width: 1.6rem;
	//border-radius: 2px;
}

.sms-btn[disabled],
.sms-btn.btn-disabled {
	color: @color-black9;
	//background: @color-weak0;
}